@charset "utf-8";
/* reset */
 * {
    margin: 0;
}

/* common */
h2 {
    height: 54px;
    background: chartreuse;
}
section>p {
    height: 54px;
    background-color: aqua;
}
/* 가운데로 배치  */
.container {
    width: 960px;
    margin: 0 auto;
}
/* header */
nav {
    height: 54px;
    background: antiquewhite
}

/* section1 */
#home {
    height: 1053px;
    background: lightblue;
}
/* section2 */
.num {
    background: orange;
    height: 135px;
}
/* section3 */
/* section4 */

/* footer */
